<div class="navbar" id="js-navbar">
    <div class="navbar-logo">
        <img src="/logo.svg" alt="logo">
    </div>
    <div class="navbar-nav">
        <a href="#about" class="navbar-nav-item">About</a>
        <a href="#prizes" class="navbar-nav-item">Prizes</a>
        <a href="#judges" class="navbar-nav-item">Judges</a>
        <a href="#faq" class="navbar-nav-item">FAQ</a>
        <a href="#schedule" class="navbar-nav-item">Schedule</a>
        <a href="#sponsors" class="navbar-nav-item">Sponsors</a>
        <a href="#" class="navbar-nav-special">Save your spot</a>
    </div>
</div>
