{{ define "main" }}

<header>
    <nav>
        <a href="#about">About</a>
        <a href="#prizes">Prizes</a>
        <a href="#judges">Judges</a>
        <a href="#faq">FAQ</a>
        <a href="#schedule">Schedule</a>
        <a href="#sponsors">Sponsors</a>
        <a href="#" class="header-nav-cta">Save your spot</a>
    </nav>
    <div class="header-title">
        <img src="/logo-white.svg" alt="logo">
        <div class="header-title-date">FEB 22-23-24, 2018</div>
        <div class="header-title-byline">
            Welcome to our inaugural DEVit Hackathon! We like to talk about code in our conference; now it's time to
            write that code. An engineering-focused, code-heavy hackathon, where high tech, neat code and crazy
            prototypes are valued and awarded.
        </div>
    </div>
</header>

<section id="about">
    <h2>About HACK DEVit</h2>
    <div class="about-subtitle">
        It is projected that 68% of the world population will live in urban areas by 2050 [1]. The importance of
        improving cities is becoming increasingly apparent.
    </div>
    <div class="about-body">
        <p>
            Furthermore, living in a city feels like subscribing for services. Rent, electricity, water, heat, internet;
            these are all pay-per-month services. Streets, schools, hospitals, infrastructure in general; these may not
            look like services but citizens expect all those to function perfectly because they pay taxes.
        </p>
        <p>
            This system works better in some cities than others, but let's do an experiment: Instead of `subscribing
            to services` let's think of living in a city as `fixing for others`. `Fixing` as in things break and maybe
            people break them, but blaming doesn't help, fixing does. `For others`, as in "other people that live in
            the same city as us”. Let’s assume the most uncomfortable instance: we don't know these people; they
            probably disagree with us; they may not even like what we build for them, even though we do it to help.
            But that’s ok: the process of society improvement is messy, yet efficient.
        </p>
        <p>
            So, here's this hackathon's theme: <strong>Urban improvement with the mindset of fixing for others.</strong>
        </p>
    </div>
</section>

<section id="venue">
    <div class="venue-header">
        <h2>The Venue</h2>
        <div class="venue-header-content">Royal Theatre</div>
        <p>Best venue. If the mariage between a venue and a group of people was possible, we'd marry this venue.</p>
    </div>
    <div class="venue-body">
        <div class="venue-body-left">
            <img src="/royal-theatre.jpg" alt="royal theatre">
        </div>
        <div class="venue-body-right">
            <iframe width="100%" height="420" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Royal%20Theatre&key=AIzaSyBO3IVUydzOkM-rJHhXWUAGbvAbi9ATTHk" allowfullscreen></iframe>
        </div>
    </div>
</section>

<section id="prizes">
    <div class="prizes-content">
        <h2>The Prizes</h2>
        <div class="prizes-content-subtitle">
            We know the only real prize for most of you is glory.
            <br>But the sake of the minority few, we included some material ones.
        </div>
        <div class="prizes-content-tiers">
            <div class="prizes-content-tiers-2nd">
                <img src="/second-place-badge.svg" alt="2nd prize" height="176px">
                <h3>Second place</h3>
                <div class="prizes-content-tiers-2nd-body">
                    €250 cash prize
                    <br>Tickets for DEVit Workshops
                </div>
            </div>
            <div class="prizes-content-tiers-1st">
                <img src="/first-place-badge.svg" alt="1st prize" height="204px">
                <h3>First place</h3>
                <div class="prizes-content-tiers-1st-body">
                    €500 cash prize
                    <br>Tickets for DEVit Talks
                    <br>Tickets for DEVit Workshops
                </div>
            </div>
            <div class="prizes-content-tiers-3rd">
                <img src="/third-place-badge.svg" alt="3rd prize" height="176px">
                <h3>Third place</h3>
                <div class="prizes-content-tiers-3rd-body">
                    €150 cash prize
                    <br>Tickets for DEVit Talks
                </div>
            </div>
        </div>
    </div>
</section>

<section id="judges">
    <h2>The Judges</h2>
    <div class="judges-subtitle">
        The value of a contest's outcome is measured by the quality of its judges.
        <br>We asked some software and technology experts to assume this role.
    </div>
    <div class="judges-body">
        <div class="judges-body-item">
            <img src="judge.jpg" alt="judge pic">
            <div class="judges-body-item-name">Joe<br>Sepi</div>
            <div class="judges-body-item-subtitle">Software person</div>
            <div class="judges-body-item-social">
                <a href="#"><i class="fab fa-github-alt"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-codepen"></i></a>
            </div>
        </div>
        <div class="judges-body-item">
            <img src="judge.jpg" alt="judge pic">
            <div class="judges-body-item-name">Joe<br>Sepi</div>
            <div class="judges-body-item-subtitle">Software person</div>
            <div class="judges-body-item-social">
                <a href="#"><i class="fab fa-github-alt"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-codepen"></i></a>
            </div>
        </div>
        <div class="judges-body-item">
            <img src="judge.jpg" alt="judge pic">
            <div class="judges-body-item-name">Joe<br>Sepi</div>
            <div class="judges-body-item-subtitle">Software person</div>
            <div class="judges-body-item-social">
                <a href="#"><i class="fab fa-github-alt"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-codepen"></i></a>
            </div>
        </div>
        <div class="judges-body-item">
            <img src="judge.jpg" alt="judge pic">
            <div class="judges-body-item-name">Joe<br>Sepi</div>
            <div class="judges-body-item-subtitle">Software person</div>
            <div class="judges-body-item-social">
                <a href="#"><i class="fab fa-github-alt"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-codepen"></i></a>
            </div>
        </div>
        <div class="judges-body-item">
            <img src="judge.jpg" alt="judge pic">
            <div class="judges-body-item-name">Joe<br>Sepi</div>
            <div class="judges-body-item-subtitle">Software person</div>
            <div class="judges-body-item-social">
                <a href="#"><i class="fab fa-github-alt"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-codepen"></i></a>
            </div>
        </div>
    </div>
    <button class="judging-process">The Judging Process</button>
</section>

<section id="faq">
    <div class="faq-content">
        <h2>FAQ</h2>
        <div class="faq-content-subtitle">Necessary clarifications.</div>
        <div class="faq-content-body">
            <div class="faq-content-body-item">
                <div class="faq-content-body-item-question">
                    <i class="fas fa-caret-right"></i>&nbsp;
                    Who owns the code I will write in this hackathon?
                </div>
                <div class="faq-content-body-item-answer">
                    You, completely, wholly and 100%.
                </div>
            </div>
            <div class="faq-content-body-item">
                <div class="faq-content-body-item-question">
                    <i class="fas fa-caret-right"></i>&nbsp;
                    Does it need to be open source?
                </div>
                <div class="faq-content-body-item-answer">
                    No, but you will have to disclose the code to the judges in order to be judged.
                </div>
            </div>
            <div class="faq-content-body-item">
                <div class="faq-content-body-item-question">
                    <i class="fas fa-caret-right"></i>&nbsp;
                    I am a student, can you give me a discount?
                </div>
                <div class="faq-content-body-item-answer">
                    Send us an email at hackathon@devitconf.org and we'll sort it out.
                </div>
            </div>
            <div class="faq-content-body-item">
                <div class="faq-content-body-item-question">
                    <i class="fas fa-caret-right"></i>&nbsp;
                    In this hackathon, I will develop an app to fix parking.
                </div>
                <div class="faq-content-body-item-answer">
                    Before setting that in stone, be aware that fixing parking is like the common cold; very common
                    problem that many want to fix but all have failed.
                </div>
            </div>
        </div>
    </div>
</section>

<section id="schedule">
    <div class="schedule-header">
        <h2>Schedule</h2>
        <div class="schedule-header-subtitle">aka <em>The Fahrplan</em></div>
        <div class="schedule-header-tabs">
            <div data-schedule-trigger="fri" class="schedule-header-tabs-item active">Friday, FEB 22</div>
            <div data-schedule-trigger="sat" class="schedule-header-tabs-item">Saturday, FEB 23</div>
            <div data-schedule-trigger="sun" class="schedule-header-tabs-item">Sunday, FEB 24</div>
        </div>
    </div>
    <div class="schedule-body">
        <div data-schedule-day="fri">
            <div class="schedule-body-item">
                <div class="schedule-body-item-time">18:30</div>
                <div class="schedule-body-item-type">
                    <div class="schedule-body-item-type-circle">
                        <i class="fas fa-ticket-alt"></i>
                    </div>
                </div>
                <div class="schedule-body-item-name">Arrival & registration</div>
            </div>
            <div class="schedule-body-item">
                <div class="schedule-body-item-time">19:00</div>
                <div class="schedule-body-item-type">
                    <div class="schedule-body-item-type-circle">
                        <i class="fas fa-ticket-alt"></i>
                    </div>
                </div>
                <div class="schedule-body-item-name">Dinner & networking</div>
            </div>
            <div class="schedule-body-item">
                <div class="schedule-body-item-time">19:30</div>
                <div class="schedule-body-item-type">
                    <div class="schedule-body-item-type-circle">
                        <i class="fas fa-ticket-alt"></i>
                    </div>
                </div>
                <div class="schedule-body-item-name">Introduction to Hack DEVit</div>
            </div>
        </div>
        <div data-schedule-day="sat" style="display: none;">
            <div class="schedule-body-item">
                <div class="schedule-body-item-time">18:30</div>
                <div class="schedule-body-item-type">
                    <div class="schedule-body-item-type-circle">
                        <i class="fas fa-ticket-alt"></i>
                    </div>
                </div>
                <div class="schedule-body-item-name">Brainstorming ideas on theme</div>
            </div>
            <div class="schedule-body-item">
                <div class="schedule-body-item-time">19:00</div>
                <div class="schedule-body-item-type">
                    <div class="schedule-body-item-type-circle">
                        <i class="fas fa-ticket-alt"></i>
                    </div>
                </div>
                <div class="schedule-body-item-name">Teams forming</div>
            </div>
            <div class="schedule-body-item">
                <div class="schedule-body-item-time">19:30</div>
                <div class="schedule-body-item-type">
                    <div class="schedule-body-item-type-circle">
                        <i class="fas fa-ticket-alt"></i>
                    </div>
                </div>
                <div class="schedule-body-item-name">End of Day 1</div>
            </div>
        </div>
        <div data-schedule-day="sun" style="display: none;">
            <div class="schedule-body-item">
                <div class="schedule-body-item-time">18:30</div>
                <div class="schedule-body-item-type">
                    <div class="schedule-body-item-type-circle">
                        <i class="fas fa-ticket-alt"></i>
                    </div>
                </div>
                <div class="schedule-body-item-name">End of Day 1</div>
            </div>
            <div class="schedule-body-item">
                <div class="schedule-body-item-time">19:00</div>
                <div class="schedule-body-item-type">
                    <div class="schedule-body-item-type-circle">
                        <i class="fas fa-ticket-alt"></i>
                    </div>
                </div>
                <div class="schedule-body-item-name">Brainstorming ideas on theme</div>
            </div>
            <div class="schedule-body-item">
                <div class="schedule-body-item-time">19:30</div>
                <div class="schedule-body-item-type">
                    <div class="schedule-body-item-type-circle">
                        <i class="fas fa-ticket-alt"></i>
                    </div>
                </div>
                <div class="schedule-body-item-name">Dinner & networking</div>
            </div>
            <div class="schedule-body-item">
                <div class="schedule-body-item-time">19:00</div>
                <div class="schedule-body-item-type">
                    <div class="schedule-body-item-type-circle">
                        <i class="fas fa-ticket-alt"></i>
                    </div>
                </div>
                <div class="schedule-body-item-name">Brainstorming ideas on theme</div>
            </div>
            <div class="schedule-body-item">
                <div class="schedule-body-item-time">19:30</div>
                <div class="schedule-body-item-type">
                    <div class="schedule-body-item-type-circle">
                        <i class="fas fa-ticket-alt"></i>
                    </div>
                </div>
                <div class="schedule-body-item-name">Dinner & networking</div>
            </div>
        </div>
    </div>
</section>

<section id="sponsors">
    <div class="sponsors-content">
        <h2>Sponsors</h2>
        <div class="sponsors-content-subtitle">
            <em>🎶 It ain't about the money money money 🎶 We just wanna make the world dance 🎶</em>
            <br>Kidding; we deeply appreciate these sponsors for enabling this event &lt;3
        </div>
        <div class="sponsors-content-tiers">
            <div class="sponsors-content-tiers-1">
                <a href="#" class="sponsors-content-tiers-1-item"><img src="https://devitconf.org/assets/images/sponsors/svg/microsoft.svg" alt=""></a>
            </div>
            <div class="sponsors-content-tiers-2">
                <a href="#" class="sponsors-content-tiers-2-item"><img src="https://devitconf.org/assets/images/sponsors/svg/toptal.svg" alt=""></a>
                <a href="#" class="sponsors-content-tiers-2-item"><img src="https://devitconf.org/assets/images/sponsors/svg/trivago.svg" alt=""></a>
            </div>
            <div class="sponsors-content-tiers-3">
                <a href="#" class="sponsors-content-tiers-3-item"><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Logo.png" alt=""></a>
                <a href="#" class="sponsors-content-tiers-3-item"><img src="https://devitconf.org/2017/assets/images/sponsors/automattic.png" alt=""></a>
                <a href="#" class="sponsors-content-tiers-3-item"><img src="https://devitconf.org/assets/images/sponsors/svg/ibm.svg" alt=""></a>
            </div>
            <div class="sponsors-content-tiers-4">
                <a href="#" class="sponsors-content-tiers-4-item"><img src="https://devitconf.org/2017/assets/images/sponsors/efoodgr.png" alt=""></a>
                <a href="#" class="sponsors-content-tiers-4-item"><img src="https://devitconf.org/2017/assets/images/sponsors/workable.png" alt=""></a>
                <a href="#" class="sponsors-content-tiers-4-item"><img src="https://devitconf.org/assets/images/sponsors/svg/taxibeat.svg" alt=""></a>
                <a href="#" class="sponsors-content-tiers-4-item"><img src="https://devitconf.org/assets/images/sponsors/svg/skroutz.svg" alt=""></a>
            </div>
        </div>
    </div>
</section>

<section id="newsletter">
    <div class="newsletter-content">
        <h2>Stay in the loop!</h2>
        <div class="newsletter-content-subtitle">
            Get notified about the hackathon (and our conference) and
            <br>get news updates straight to your inbox.
        </div>
        <div class="newsletter-content-body">
            <form class="newsletter-form">
                <input type="text" class="newsletter-form-name" placeholder="First name">
                <input type="email" class="newsletter-form-email" placeholder="Email">
                <button class="newsletter-form-submit" type="submit">
                    Submit <i class="fas fa-long-arrow-alt-right"></i>
                </button>
            </form>
        </div>
    </div>
</section>

{{ end }}
